.sect1{
    padding: rem(166) 0 rem(80) 0;
    background-image: url(../images/bg.svg);
    background-size: cover;

    &__content{
        text-align: center;
    }

    &__logo{
        margin-bottom: rem(30);
        img{
            width: rem(260);
            height: rem(162);
        }
    }

    &__title{
        width: rem(740);
        margin: 0 auto rem(20) auto;
        h1{
            font-family: Gilroy;
            font-size: rem(60);
            line-height: 1.1;
            font-style: italic;
            font-weight: 900;
            color: $white;
        }
    }

    &__text{
        width: rem(760);
        margin: 0 auto;
        p{
            font-size: rem(24);
            line-height: 1.58;
            color: $white;
        }
    }
}


@media screen and (max-width:769px){
    .sect1{

        &__title, &__text{
            width: 100%;
        }
    }
}


@media screen and (max-width:500px){
    .sect1{
        padding: 90px 0 30px 0;
        background-image: url(../images/bg_mob.svg), linear-gradient(285deg, #5cce59 32%, #33835c 67%);
        
        &__logo{
            img{
                width: 129px;
                height: 79px;
            }
        }

        &__title{
            margin-bottom: 10px;
            h1{
                font-size: 30px;
                line-height: 1.1;
                letter-spacing: -0.01px;
            }
        }

        &__text{
            p{
                font-size: 18px;
                line-height: 1.67;
            }
        }
    }
}