.sect2{
	padding: rem(100) 0 rem(50) 0;

	.wrapper{
        width: rem(780);
    }

	&__title{
		margin-bottom: rem(25);
	}

	&__text{
		p{
			color: $maintext;
			font-size: rem(20);
			margin-bottom: rem(30);
			line-height: 1.5;
		}
	}

	&__block{
		padding-top: rem(100);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item{
		width: rem(360);
		margin-bottom: rem(50);
	}

	&__itemTitle{
		margin-bottom: rem(20);
		h3{
			font-size: rem(26);
			font-family: Gilroy;
			font-weight: 900;
			font-stretch: normal;
			font-style: italic;
			line-height: 1.08;
			color: $brand_color;
		}
	}
}


@media screen and (max-width:769px){
	.sect2{

		&__item{
			width: 100%;
		}
		
	}
}