.title{
    font-family: Gilroy;
    font-size: rem(40);
    font-weight: 900;
    font-style: italic;
    line-height: 1.1;
    color: $brand_color;
}


@media screen and (max-width:500px){
    .title{
        font-size: 24px;
        line-height: 1.08;
    }
}